ol,ul {
  list-style: none;
}

#navigation li {
  display: block;
  float: left; 
  position: relative;
  width: fit-content;
  padding-right: 3em;
}

#main {
  padding-top: 2em;
}

body {
  background-color: black;
  font-family: "Courier New",monospace;
  color: #66cecc;
}
